USE [master]
GO
/****** Object:  Database [QLBanGiay]    Script Date: 10/5/2020 3:59:15 PM ******/
CREATE DATABASE [QLBanGiay]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBanGiay', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QLBanGiay.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLBanGiay_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QLBanGiay_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBanGiay].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBanGiay]
GO
/****** Object:  Table [dbo].[BinhLuan]    Script Date: 10/5/2020 3:59:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinhLuan](
	[MaBL] [nchar](20) NOT NULL,
	[TieuDe] [nchar](200) NULL,
	[SoLuotKhongThich] [int] NULL,
	[NgayGio] [datetime] NULL,
	[SoLuotThich] [int] NULL,
	[NoiDung] [nvarchar](max) NULL,
	[IdNguoiDung] [nchar](20) NULL,
	[MaSP] [nchar](20) NULL,
 CONSTRAINT [PK_BinhLuan] PRIMARY KEY CLUSTERED 
(
	[MaBL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietSuKien]    Script Date: 10/5/2020 3:59:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietSuKien](
	[IdSuKien] [nchar](20) NOT NULL,
	[MaSP] [nchar](20) NOT NULL,
	[NgayDang] [datetime] NULL,
 CONSTRAINT [PK_ChiTietSuKien] PRIMARY KEY CLUSTERED 
(
	[IdSuKien] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 10/5/2020 3:59:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[IdDonHang] [nchar](20) NOT NULL,
	[IdNguoiDung] [nchar](20) NULL,
	[TenKH] [nchar](50) NULL,
	[DiaChi] [nchar](250) NULL,
	[Email] [nchar](50) NULL,
	[GhiChu] [nchar](250) NULL,
	[TongTien] [float] NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_DonHang] PRIMARY KEY CLUSTERED 
(
	[IdDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 10/5/2020 3:59:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[IdDonHang] [nchar](20) NOT NULL,
	[MaSP] [nchar](20) NOT NULL,
	[SL] [tinyint] NULL,
	[DonGia] [float] NULL,
 CONSTRAINT [PK_GioHang] PRIMARY KEY CLUSTERED 
(
	[IdDonHang] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hinh]    Script Date: 10/5/2020 3:59:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hinh](
	[IdHinh] [nchar](20) NOT NULL,
	[MaSP] [nchar](20) NULL,
	[NgayDang] [date] NULL,
	[DuongDanHinh] [nchar](100) NULL,
	[LoaiHinh] [int] NULL,
 CONSTRAINT [PK_Hinh] PRIMARY KEY CLUSTERED 
(
	[IdHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LienHe]    Script Date: 10/5/2020 3:59:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LienHe](
	[IdLienHe] [nchar](20) NOT NULL,
	[IdNguoiDung] [nchar](20) NULL,
	[HoTen] [nchar](100) NULL,
	[NoiDung] [nvarchar](max) NULL,
 CONSTRAINT [PK_LienHe] PRIMARY KEY CLUSTERED 
(
	[IdLienHe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuCha]    Script Date: 10/5/2020 3:59:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuCha](
	[IdCha] [nchar](20) NOT NULL,
	[TenMenuCha] [nchar](100) NULL,
 CONSTRAINT [PK_MenuCha] PRIMARY KEY CLUSTERED 
(
	[IdCha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuCon]    Script Date: 10/5/2020 3:59:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuCon](
	[IdCon] [nchar](20) NOT NULL,
	[IdCha] [nchar](20) NULL,
	[TenMenuCon] [nchar](100) NULL,
 CONSTRAINT [PK_MenuCon] PRIMARY KEY CLUSTERED 
(
	[IdCon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 10/5/2020 3:59:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[IdNguoiDung] [nchar](20) NOT NULL,
	[TenUser] [nchar](50) NULL,
	[MatKhau] [nchar](50) NULL,
	[HoVaTen] [nchar](50) NULL,
	[Email] [nchar](50) NULL,
	[Phone] [nchar](50) NULL,
	[DiaChi] [nchar](250) NULL,
	[NgaySinh] [date] NULL,
	[Quyen] [tinyint] NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[IdNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 10/5/2020 3:59:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [nchar](20) NOT NULL,
	[TenSP] [nchar](100) NULL,
	[AnhSP] [nchar](150) NULL,
	[ThongTinChiTiet] [nvarchar](max) NULL,
	[SPKM] [bit] NULL,
	[SPHot] [bit] NULL,
	[Active] [bit] NULL,
	[GiaBD] [float] NULL,
	[GiaHT] [float] NULL,
	[NgayDang] [date] NULL,
	[IdCon] [nchar](20) NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuKien]    Script Date: 10/5/2020 3:59:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuKien](
	[IdSuKien] [nchar](20) NOT NULL,
	[TieuDe] [nchar](50) NULL,
	[AnhDaiDien] [nchar](250) NULL,
	[ChiTiet] [nvarchar](max) NULL,
	[NgayDang] [date] NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_SuKien] PRIMARY KEY CLUSTERED 
(
	[IdSuKien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD  CONSTRAINT [FK_BinhLuan_NguoiDung] FOREIGN KEY([IdNguoiDung])
REFERENCES [dbo].[NguoiDung] ([IdNguoiDung])
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [FK_BinhLuan_NguoiDung]
GO
ALTER TABLE [dbo].[ChiTietSuKien]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietSuKien_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietSuKien] CHECK CONSTRAINT [FK_ChiTietSuKien_SanPham]
GO
ALTER TABLE [dbo].[ChiTietSuKien]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietSuKien_SuKien] FOREIGN KEY([IdSuKien])
REFERENCES [dbo].[SuKien] ([IdSuKien])
GO
ALTER TABLE [dbo].[ChiTietSuKien] CHECK CONSTRAINT [FK_ChiTietSuKien_SuKien]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_NguoiDung] FOREIGN KEY([IdNguoiDung])
REFERENCES [dbo].[NguoiDung] ([IdNguoiDung])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_NguoiDung]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_DonHang] FOREIGN KEY([IdDonHang])
REFERENCES [dbo].[DonHang] ([IdDonHang])
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_DonHang]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_SanPham]
GO
ALTER TABLE [dbo].[Hinh]  WITH CHECK ADD  CONSTRAINT [FK_Hinh_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[Hinh] CHECK CONSTRAINT [FK_Hinh_SanPham]
GO
ALTER TABLE [dbo].[LienHe]  WITH CHECK ADD  CONSTRAINT [FK_LienHe_NguoiDung] FOREIGN KEY([IdNguoiDung])
REFERENCES [dbo].[NguoiDung] ([IdNguoiDung])
GO
ALTER TABLE [dbo].[LienHe] CHECK CONSTRAINT [FK_LienHe_NguoiDung]
GO
ALTER TABLE [dbo].[MenuCon]  WITH CHECK ADD  CONSTRAINT [FK_MenuCon_MenuCha] FOREIGN KEY([IdCha])
REFERENCES [dbo].[MenuCha] ([IdCha])
GO
ALTER TABLE [dbo].[MenuCon] CHECK CONSTRAINT [FK_MenuCon_MenuCha]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_MenuCon] FOREIGN KEY([IdCon])
REFERENCES [dbo].[MenuCon] ([IdCon])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_MenuCon]
GO
USE [master]
GO
