USE [master]
GO
/****** Object:  Database [QLBanGiay]    Script Date: 10/15/2020 4:49:26 PM ******/
CREATE DATABASE [QLBanGiay]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbWebGiay', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DbWebGiay.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbWebGiay_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DbWebGiay_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBanGiay].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBanGiay]
GO
/****** Object:  Table [dbo].[BinhLuan]    Script Date: 10/15/2020 4:49:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinhLuan](
	[MaBL] [int] NOT NULL,
	[TieuDe] [nchar](200) NULL,
	[SoLuotKhongThich] [int] NULL,
	[NgayGio] [datetime] NULL,
	[SoLuotThich] [int] NULL,
	[NoiDung] [nvarchar](max) NULL,
	[MaNguoiDung] [int] NULL,
	[MaSP] [int] NULL,
 CONSTRAINT [PK_BinhLuan] PRIMARY KEY CLUSTERED 
(
	[MaBL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietSuKien]    Script Date: 10/15/2020 4:49:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietSuKien](
	[MaSuKien] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[NgayDang] [datetime] NULL,
 CONSTRAINT [PK_ChiTietSuKien] PRIMARY KEY CLUSTERED 
(
	[MaSuKien] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 10/15/2020 4:49:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDonHang] [int] NOT NULL,
	[MaNguoiDung] [int] NULL,
	[TenKH] [nchar](50) NULL,
	[DiaChi] [nchar](250) NULL,
	[Email] [nchar](50) NULL,
	[GhiChu] [nchar](250) NULL,
	[TongTien] [float] NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_DonHang] PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 10/15/2020 4:49:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[MaDonHang] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SL] [tinyint] NULL,
	[DonGia] [float] NULL,
 CONSTRAINT [PK_GioHang] PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hinh]    Script Date: 10/15/2020 4:49:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hinh](
	[MaHinh] [int] NOT NULL,
	[MaSP] [int] NULL,
	[NgDang] [date] NULL,
	[DuongDanHinh] [nchar](100) NULL,
	[LoaiHinh] [int] NULL,
 CONSTRAINT [PK_Hinh] PRIMARY KEY CLUSTERED 
(
	[MaHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LienHe]    Script Date: 10/15/2020 4:49:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LienHe](
	[MaLienHe] [int] NOT NULL,
	[MaNguoiDung] [int] NULL,
	[HoTen] [nchar](100) NULL,
	[NoiDung] [nvarchar](max) NULL,
 CONSTRAINT [PK_LienHe] PRIMARY KEY CLUSTERED 
(
	[MaLienHe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuCha]    Script Date: 10/15/2020 4:49:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuCha](
	[MaCha] [int] NOT NULL,
	[TenMenuCha] [nchar](100) NULL,
 CONSTRAINT [PK_MenuCha] PRIMARY KEY CLUSTERED 
(
	[MaCha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuCon]    Script Date: 10/15/2020 4:49:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuCon](
	[MaCon] [int] NOT NULL,
	[MaCha] [int] NULL,
	[TenMenuCon] [nchar](100) NULL,
 CONSTRAINT [PK_MenuCon] PRIMARY KEY CLUSTERED 
(
	[MaCon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 10/15/2020 4:49:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaNguoiDung] [int] NOT NULL,
	[TenUser] [nchar](50) NULL,
	[MatKhau] [nchar](50) NULL,
	[HoVaTen] [nchar](50) NULL,
	[Email] [nchar](50) NULL,
	[Phone] [nchar](50) NULL,
	[DiaChi] [nchar](250) NULL,
	[NgaySinh] [date] NULL,
	[Quyen] [tinyint] NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 10/15/2020 4:49:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] NOT NULL,
	[TenSP] [nchar](100) NULL,
	[AnhSP] [nchar](150) NULL,
	[ThongTinChiTiet] [nvarchar](max) NULL,
	[SPKM] [bit] NULL,
	[SPHot] [bit] NULL,
	[Active] [bit] NULL,
	[GiaBD] [float] NULL,
	[GiaHT] [float] NULL,
	[NgayDang] [date] NULL,
	[MaCon] [int] NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuKien]    Script Date: 10/15/2020 4:49:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuKien](
	[MaSuKien] [int] NOT NULL,
	[TieuDe] [nchar](50) NULL,
	[AnhDaiDien] [nchar](250) NULL,
	[ChiTiet] [nvarchar](max) NULL,
	[NgayDang] [date] NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_SuKien] PRIMARY KEY CLUSTERED 
(
	[MaSuKien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[MenuCha] ([MaCha], [TenMenuCha]) VALUES (1, N'Nam                                                                                                 ')
INSERT [dbo].[MenuCha] ([MaCha], [TenMenuCha]) VALUES (2, N'Nữ                                                                                                  ')
INSERT [dbo].[MenuCha] ([MaCha], [TenMenuCha]) VALUES (3, N'Trẻ Em                                                                                              ')
GO
INSERT [dbo].[MenuCon] ([MaCon], [MaCha], [TenMenuCon]) VALUES (11, 1, N'Adidas                                                                                              ')
INSERT [dbo].[MenuCon] ([MaCon], [MaCha], [TenMenuCon]) VALUES (12, 1, N'Converse                                                                                            ')
INSERT [dbo].[MenuCon] ([MaCon], [MaCha], [TenMenuCon]) VALUES (13, 1, N'Nike                                                                                                ')
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD  CONSTRAINT [FK_BinhLuan_NguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [FK_BinhLuan_NguoiDung]
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD  CONSTRAINT [FK_BinhLuan_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [FK_BinhLuan_SanPham]
GO
ALTER TABLE [dbo].[ChiTietSuKien]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietSuKien_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietSuKien] CHECK CONSTRAINT [FK_ChiTietSuKien_SanPham]
GO
ALTER TABLE [dbo].[ChiTietSuKien]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietSuKien_SuKien] FOREIGN KEY([MaSuKien])
REFERENCES [dbo].[SuKien] ([MaSuKien])
GO
ALTER TABLE [dbo].[ChiTietSuKien] CHECK CONSTRAINT [FK_ChiTietSuKien_SuKien]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_NguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_NguoiDung]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_SanPham]
GO
ALTER TABLE [dbo].[Hinh]  WITH CHECK ADD  CONSTRAINT [FK_Hinh_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[Hinh] CHECK CONSTRAINT [FK_Hinh_SanPham]
GO
ALTER TABLE [dbo].[LienHe]  WITH CHECK ADD  CONSTRAINT [FK_LienHe_NguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[LienHe] CHECK CONSTRAINT [FK_LienHe_NguoiDung]
GO
ALTER TABLE [dbo].[MenuCon]  WITH CHECK ADD  CONSTRAINT [FK_MenuCon_MenuCha] FOREIGN KEY([MaCha])
REFERENCES [dbo].[MenuCha] ([MaCha])
GO
ALTER TABLE [dbo].[MenuCon] CHECK CONSTRAINT [FK_MenuCon_MenuCha]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_MenuCon] FOREIGN KEY([MaCon])
REFERENCES [dbo].[MenuCon] ([MaCon])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_MenuCon]
GO
USE [master]
GO
