<head>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <app-nav-menu></app-nav-menu>
    <div style="margin-top: 50px;  padding: 50px;">
        <router-outlet></router-outlet>
    </div>
    <div class="footer">
        <div class="container" style="text-align: left;">
            <h2>423 Nguyễn Văn Công,P.3,Q.Gò Vấp,Tp.HCM</h2>
            <h2>01685036732</h2>
            <h2>sneakerroom@gmail.com</h2>
            <h2>SneakerROOM</h2>
            <h2>SneakerROOM</h2>
        </div>
    </div>
</body>